# Required packages for the project

joblib==1.4.2              # Serialization and deserialization of Python objects
keras==3.6.0               # High-level neural networks API
matplotlib==3.8.0          # Plotting and visualization
numpy==1.26.4              # Array and matrix operations
pandas==2.2.3              # Data manipulation and analysis
scikit-learn==1.5.2        # Machine learning algorithms and tools
seaborn==0.12.2            # Statistical data visualization (built on top of matplotlib)
shap==0.46.0               # Model-agnostic explainability library
tensorflow==2.16.1         # Deep learning framework (backend for Keras)
